<h1>Welcome to the root route</h1>
<h3>Choose your direction:</h3>

<!-- link_to article_listing  | link_to about -->
<%= link_to 'All articles', articles_path(@article) %> | <%= link_to 'About', about_path %>

&copy; @max <%= Time.now.year %>