<!-- Footer -->
<footer class="page-footer font-small bg-dark fixed-bottom" id="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© <%= Time.now.year %> Copyright: @max
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->