<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 1);">
    <%= Time.now.year %> Copyright: @max
  </div>
  <!-- Copyright -->
</footer>